<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container">
	<div class="page-header">
		<h1><%= @application.name %><small> </small></h1>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="list-group">

			<li class="list-group-item active">App name: <%= @application.name %></li>
			<li class="list-group-item">App URL: <%= link_to @application.URL %></li>
			<li class="list-group-item">App summary: <%= @application.summary %></li>
			<li class="list-group-item"><small> registered <%= time_ago_in_words(@application.created_at) %> ago</small></li>

			</div>

			<hr class="divider">
				
				<%= pie_chart @application.events.group(:name).count %>
				<%= bar_chart @application.events.group(:name).count %>

			<hr class="divider">

				<div class="list-group">
					<li class="list-group-item active"><span class="badge"><%= @application.events.count %></span>Events</li>
					<% @application.events.each do |event| %>
					<li class="list-group-item"><%= event.name %> | <small><small>created at <%= event.created_at %></small></small></li>
					<% end %>
				</div>

			

			<hr class="divider">

			<%= link_to "Edit application details", edit_application_path, class: 'btn btn-primary' %>
			<%= link_to "De-register application", application_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to de-register this application?'} %>

		</div>
	</div>

</div>
